.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}